body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 400;
    background-color: #b0aaaa;
    padding: 20px 0;
}

.header__burger {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.header__burger span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #575445;
}

.header__burger span:nth-of-type(2) {
    top: calc(50% - 5px);
}

.header__burger span:nth-of-type(3) {
    top: calc(50% + 5px);
}

.header__burger_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 540px;
    padding: 75px 15px 15px;
    background: #9a9595;
    transform: translateX(+200%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.header__burger_menu.active {
    transform: translateX(+100%);
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-bottom-left-radius: 30px;
}

.header__burger_link {
    font-weight: 400;
    font-size: 24px;
    color: #444444;
}

.header__burger_wrapper-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 270px;
}

.header__burger_button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 125px;
    min-height: 44px;
    padding: 10px 18px;
    background: #575445;
    border-radius: 6px;
    color: #FFFFFF;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
}

.header__link {
    font-weight: 400;
    line-height: 14px;
    color: #444444;
}

.header__link:hover {
    text-decoration: underline;
}

.header__wrapper-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 270px;
}

.header__button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 125px;
    min-height: 44px;
    padding: 10px 18px;
    background: #575445;
    border-radius: 6px;
    color: #FFFFFF;
}

.header__button:hover {
    background: #696553;
}

.header__button:active {
    background: #4c4a3c;
}

.header__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    color: #000000;
}

.main__preview {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 640px;
    background: url(./images/Preview/preview.jpg) no-repeat center;
    background-size: cover;
    font-weight: 400;
    padding: 50px;
}

.main__preview_wrapper {
    width: 1168px;
}

.main__preview_text {
    width: 495px;
}

.main__preview_subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E6B939;
}

.main__preview_title {
    margin-bottom: 9px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.main__preview_description {
    font-size: 17px;
    line-height: 25px;
    color: #CACCD1;
}

.main__about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 50px auto;
    max-width: 1168px;
    max-height: 578px;
    font-weight: 400;
}

.main__about-us_image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.main__about-us_image {
    width: 80%;
}

.main__about-us_text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.main__about-us_text {
    width: 70%;
}

.main__about-us_subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E6B939;
}

.main__about-us_title {
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 36px;
    line-height: 43px;
    color: #575445;
}

.main__about-us_description {
    font-size: 16px;
    line-height: 19px;
    color: #575445;
    margin-bottom: 20px;
}

.main__about-us_link {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 21px;
    color: #575445;
}

.main__about-us_link:hover {
    text-decoration: underline;
}

.main__about-us_link:hover>.main__about-us_pointer {
    margin-left: 8px;
}

.main__about-us_pointer {
    margin-left: 4px;
}

.main__our-promise {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFC;
    padding: 50px 100px;
    z-index: -1;
}

.main__our-promise_text-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-weight: 400;
}

.main__our-promise_text {
    width: 60%;
}

.main__our-promise_subtitle {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E6B939;
}

.main__our-promise_title {
    text-align: center;
    margin-bottom: 7px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 43px;
    color: #575445;
}

.main__our-promise_description {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: #575445;
}

.main__our-promise_wrapper-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 102px;
    grid-row-gap: 110px;
    max-width: 1066px;
}

.main__our-promise_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 287px;

}

.main__our-promise_card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #575445;
}

.main__our-promise_card-subtitle {
    margin-bottom: 9px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #575445;
}

.main__our-promise_card-description {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #575445;
}

.main__our-promise_decoration-right {
    position: absolute;
    top: 0;
    right: 0;
}

.main__our-promise_decoration-left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.main__product-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
}

.main__product-categories_text-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-weight: 400;
}

.main__product-categories_text {
    width: 60%;
}

.main__product-categories_subtitle {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E6B939;
}

.main__product-categories_title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #575445;
    margin-bottom: 7px;
}

.main__product-categories_description {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #575445;
}

.main__product-categories_wrapper-card {
    display: grid;
    grid-template-columns: repeat(3, 379px);
    grid-template-rows: repeat(2, 473px);
    grid-gap: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

.main__product-categories_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    transition: background-size 2s;
}

.main__product-categories_card:hover {
    background-size: 120%;
}

.main__product-categories_card_text {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main__product-categories_card_title {
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 9px;
    color: #575445;
}

.main__product-categories_card_description {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 20px;
    color: #575445;
}

.main__product-categories_card_link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    color: #575445;
}

.main__product-categories_card_link:hover {
    text-decoration: underline;
}

.main__product-categories_pointer {
    margin-left: 4px;
}

.main__product-categories_card_link:hover>.main__product-categories_pointer {
    margin-left: 8px;
}

.product-categories_card-1 {
    background: url(./images/product-categories/Accessories.png);
    background-size: 100%;
}

.product-categories_card-2 {
    background: url(./images/product-categories/Apparel.png);
    background-size: 100%;
}

.product-categories_card-3 {
    background: url(./images/product-categories/Climbing-Gear.png);
    background-size: 100%;
}

.product-categories_card-4 {
    background: url(./images/product-categories/Headwear.png);
    background-size: 100%;
}

.product-categories_card-5 {
    background: url(./images/product-categories/Hiking-Gear.png);
    background-size: 100%;
}

.product-categories_card-6 {
    background: url(./images/product-categories/Jackets.png);
    background-size: 100%;
}

.main__product-categories_link {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 21px;
    color: #575445;
}

.main__product-categories_link:hover {
    text-decoration: underline;
}

.main__product-categories_pointer {
    margin-left: 4px;
}

.main__product-categories_link:hover>.main__product-categories_pointer {
    margin-left: 8px;
}

.main__beautiful-picture {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 40px 40px 0;
    min-height: 550px;
    background-image: url(./images/Beautiful-picture/beautiful-picture.png);
    background-size: cover;
}

.main__beautiful-picture__wrapper {
    display: flex;
    max-width: 700px;
    background: #292C32;
    border-radius: 16px;
    padding: 15px 22px;
}

.main__beautiful-picture_wrapper-link {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
}

.main__beautiful-picture_wrapper-link:not(:last-child) {
    margin-right: 20px;
}

.main__beautiful-picture_icon {
    margin-right: 8px;
}

.main__beautiful-picture_link {
    color: #FFFFFF;
}

.main__beautiful-picture_link:hover {
    text-decoration: underline;
}

.main__shop {
    background: #375C58;
}

.main__shop_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 550px;
    background: url(./images/main-shop/main-shop-decoration.svg);
}

.main__shop_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 538px;
    font-weight: 400;
    margin-bottom: 21px;
}

.main__shop_subtitle {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FAFAFC;
}

.main__shop_title {
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #E6B939;
    margin-bottom: 7px;
}

.main__shop_description {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FAFAFC;
}

.main__shop_button {
    background: #FFFFFF;
    border-radius: 6px;
    padding: 10px 18px;
    font-size: 15px;
    line-height: 22px;
    color: #575445;
}


.main__read_guides {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    padding-top: 50px;
}

.main__guides_subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E6B939;
}

.main__guides_title {
    font-size: 36px;
    line-height: 43px;
    color: #575445;
    margin-bottom: 7px;
}

.main__guides_description {
    font-size: 16px;
    line-height: 19px;
    color: #575445;
    max-width: 45%;
    margin-bottom: 21px;
}

.main__guides_wrapper-guide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
    max-width: 1168px;
    font-weight: 400;
    padding-bottom: 26px;
}

.main__guide_image {
    margin-bottom: 18px;
}

.main__guide_subtitle {
    font-size: 20px;
    line-height: 24px;
    color: #575445;
    margin-bottom: 12px;
}

.main__guide_author {
    display: flex;
}

.main__guide_author_image {
    margin-right: 12px;
}

.main__guide_author-signature {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__guide_author-name {
    font-size: 13px;
    line-height: 18px;
    color: #575445;
}

.main__guide_author-profession {
    font-size: 11px;
    line-height: 15px;
    color: #E6B939;
}

.main__guide_date {
    margin-left: auto;
    align-self: center;
    font-size: 13px;
    line-height: 18px;
    color: #6F7278;
}

.main__guides_link {
    display: flex;
    justify-content: center;
    font-size: 15px;
    line-height: 21px;
    color: #575445;
    margin-bottom: 50px;
}

.main__guides_pointer {
    margin-left: 4px;
}

.main__guides_link:hover {
    text-decoration: underline;
}

.main__guides_link:hover>.main__guides_pointer {
    margin-left: 8px;
}

.main__read_magazine {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 50px auto;
    max-width: 1168px;
    max-height: 578px;
    font-weight: 400;
}

.main__magazine_image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.main__magazine_image {
    width: 80%;
}

.main__magazine_text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.main__magazine_text {
    width: 70%;
}

.main__magazine_subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E6B939;
}

.main__magazine_title {
    font-size: 36px;
    line-height: 43px;
    color: #575445;
    margin-bottom: 7px;
}

.main__magazine_description {
    font-size: 16px;
    line-height: 19px;
    color: #575445;
    margin-bottom: 20px;
}

.main__magazine_link {
    display: flex;
    align-items: center;
    color: #575445;
}

.main__magazine_pointer {
    padding-left: 4px;
}

.main__magazine_link:hover {
    text-decoration: underline;
}

.main__magazine_link:hover>.main__magazine_pointer {
    padding-left: 8px;
}

.footer {
    background: #575445;
    padding: 70px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    min-width: 1168px;
}

.footer-logo {
    padding-bottom: 50px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    min-width: 1168px;
}

.footer__list {
    min-width: 165px;
}

.footer__title,
.footer__title>a {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E6B939;
}

.footer__item>a {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer__description {
    font-size: 14px;
    line-height: 20px;
    color: #FAFAFC;
    max-width: 420px;
    margin-bottom: 9px;
}

.footer__subscription_wrapper {
    display: flex;
    align-items: center;
    width: 458px;
    height: 53px;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding: 0 7px 0 21px;
}

.footer__subscription_email {
    width: 350px;
}

.footer__subscription_button {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #575445;
    border-radius: 10px;
    width: 73px;
    height: 39px;
    margin-left: auto;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    min-width: 1168px;
}

.footer__license {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer__media {
    display: flex;
    justify-content: space-between;
    min-width: 156px;
}

@media screen and (min-width: 820px) and (max-width: 1024px) {

    .header {
        padding: 20px;
        justify-content: space-between;
    }

    .header__burger {
        display: block;
    }

    .header__menu {
        display: none;
    }

    .header__wrapper-button {
        display: none;

    }

    .main__preview {
        min-height: 460px;
    }

    .main__preview_wrapper {
        width: 720px;
    }

    .main__about-us_description {
        margin-bottom: 9px;
    }

    .main__our-promise_text {
        width: 80%;
    }

    .main__our-promise_wrapper-cards {
        max-width: 720px;
        grid-template-columns: 1fr 1fr;
    }

    .main__product-categories_text {
        width: 80%;
    }

    .main__product-categories_wrapper-card {
        grid-template-columns: repeat(2, 349px);
        grid-template-rows: repeat(3, 435px);
    }

    .main__product-categories_card_text {
        height: 45%;
    }

    .main__beautiful-picture {
        min-height: 460px;
        justify-content: center;
        padding-right: 0;
        padding-bottom: 30px;
    }

    .main__shop_wrapper {
        min-height: 460px;
    }


    .main__read_guides {
        justify-content: center;
    }

    .main__guides_text {
        text-align: center;
        width: 450px;
        margin-bottom: 30px;
    }

    .main__guides_description {
        text-align: center;
        max-width: 100%;
        margin-bottom: 0;
    }

    .main__guides_wrapper-guide {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 32px;
        max-width: 1180px;
        font-weight: 400;
        padding-bottom: 26px;
    }

    .main__guides_guide:first-child {
        margin-bottom: 30px;
    }

    .main__guides_link {
        margin-bottom: 50px;
    }

    .footer {
        min-width: 820px;
        padding: 50px 0 0;
        justify-content: center;
    }

    .footer-logo {
        padding-bottom: 0;
    }

    .footer__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        min-width: 820px;
        padding-bottom: 10px;
        padding-left: 50px;
    }

    .footer__list {
        display: grid;
        min-width: 170px;
        margin: 20px;
    }

    .footer__wrapper-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .footer__subscription {
        display: grid;
        margin: 20px;
    }

    .footer__subscription_wrapper {
        width: 300px;
    }

    .footer__description {
        max-width: 300px;
    }

    .footer__subscription_email {
        width: 250px;
    }

    .footer__social {
        min-width: 820px;
        padding: 10px 50px 50px;
    }

    .footer__media {
        min-width: 150px;
    }
}

@media screen and (min-width: 600px) and (max-width: 819.98px) {

    .header {
        padding: 20px;
        justify-content: space-between;
    }

    .header__burger_menu {
        height: 100%;
    }

    .header__burger {
        display: block;
    }

    .header__menu {
        display: none;
    }

    .header__wrapper-button {
        display: none;
    }

    .main__preview {
        min-height: 450px;
        padding: 0 30px;
        justify-content: start;
    }

    .main__preview_text {
        width: 320px;
    }

    .main__about-us {
        display: flex;
        flex-direction: column-reverse;
        max-width: 819px;
        max-height: 900px;
        font-weight: 400;
        margin: 0;
        padding: 30px;
    }

    .main__about-us_image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main__about-us_image {
        width: 80%;
    }

    .main__about-us_text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main__about-us_text {
        width: 90%;
    }

    .main__about-us_link {
        justify-content: center;
    }

    .main__about-us_description {
        margin-bottom: 10px;
    }

    .main__our-promise {
        padding: 40px;
    }

    .main__our-promise_text-wrapper {
        margin-bottom: 40px;
    }

    .main__our-promise_text {
        width: 95%;
    }

    .main__our-promise_wrapper-cards {
        max-width: 819px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .main__our-promise_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 287px;

    }

    .main__product-categories {
        padding: 30px;
    }

    .main__product-categories_text-wrapper {
        margin-bottom: 30px;
    }

    .main__product-categories_text {
        width: 90%;
    }

    .main__product-categories_card_title {
        padding-bottom: 5px;
    }

    .main__product-categories_card_description {
        padding-bottom: 10px;
    }


    .main__our-promise_decoration-right {
        width: 350px;
    }

    .main__our-promise_decoration-left {
        width: 350px;
    }

    .main__product-categories_text {
        width: 80%;
    }

    .main__product-categories_wrapper-card {
        grid-template-columns: repeat(2, 260px);
        grid-template-rows: repeat(3, 320px);
    }

    .main__product-categories_card_text {
        height: 50%;
    }

    .main__beautiful-picture {
        min-height: 400px;
        justify-content: center;
        padding-right: 0;
        padding-bottom: 30px;
    }

    .main__shop_wrapper {
        min-height: 400px;
    }

    .main__read_guides {
        justify-content: center;
    }

    .main__guides_text {
        text-align: center;
        width: 450px;
        margin-bottom: 30px;
    }

    .main__guides_description {
        max-width: 100%;
        margin-bottom: 0;
    }

    .main__guides_wrapper-guide {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 32px;
        max-width: 819px;
        font-weight: 400;
        padding: 0 30px 26px;
    }

    .main__guides_guide:first-child {
        margin-bottom: 30px;
    }

    .main__guides_link {
        margin-bottom: 30px;
    }

    .main__read_magazine {
        display: flex;
        flex-direction: column-reverse;
        max-width: 819px;
        max-height: 900px;
        font-weight: 400;
        margin: 0;
        padding: 50px;
    }

    .main__magazine_image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main__magazine_image {
        width: 80%;
    }

    .main__magazine_text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main__magazine_text {
        width: 90%;
    }

    .main__magazine_link {
        justify-content: center;
    }

    .main__magazine_description {
        margin-bottom: 10px;
    }

    .footer {
        min-width: 600px;
        padding: 30px;
        justify-content: center;
    }

    .footer-logo {
        padding-bottom: 0;
    }

    .footer__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 20px;
        min-width: 500px;
        padding: 30px 0;

    }

    .footer__list {
        display: grid;
        min-width: 100px;
    }

    .footer__title {
        text-align: center;
        margin-bottom: 10px;
    }

    .footer__wrapper-item {
        text-align: center;
    }

    .footer__subscription {
        display: grid;
        grid-column: 1 / -1;
    }

    .footer__subscription_wrapper {
        width: 100%;
    }

    .footer__description {
        max-width: 100%;
        text-align: center;
    }

    .footer__subscription_email {
        width: 250px;
    }

    .footer__social {
        display: flex;
        min-width: 550px;
    }

    .footer__license {
        max-width: 300px;
    }

    .footer__media {
        min-width: 130px;
    }
}

@media screen and (min-width: 400px) and (max-width: 599.98px) {

    .header {
        padding: 20px;
        justify-content: space-between;
    }

    .header__burger {
        display: block;
    }

    .header__burger_wrapper-button {
        flex-direction: column;
        min-height: 100px;
    }

    .header__burger_button {
        width: 140px;
    }

    .header__menu {
        display: none;
    }

    .header__wrapper-button {
        display: none;
    }

    .main__preview {
        min-height: 500px;
        padding: 0 30px;
        justify-content: start;
    }

    .main__preview_text {
        width: 300px;
    }

    .main__preview_subtitle {
        width: 200px;
    }

    .main__preview_title {
        font-size: 35px;
        width: 240px;
    }

    .main__about-us {
        display: flex;
        flex-direction: column-reverse;
        max-width: 614px;
        max-height: 900px;
        font-weight: 400;
        margin: 0;
        padding: 30px;
    }

    .main__about-us_image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main__about-us_image {
        width: 80%;
    }

    .main__about-us_text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main__about-us_text {
        width: 90%;
    }

    .main__about-us_link {
        justify-content: center;
    }

    .main__about-us_description {
        margin-bottom: 10px;
    }

    .main__our-promise {
        padding: 40px;
    }

    .main__our-promise_text-wrapper {
        margin-bottom: 40px;
    }

    .main__our-promise_text {
        width: 95%;
    }

    .main__our-promise_wrapper-cards {
        max-width: 614px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 30px;
    }

    .main__our-promise_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 287px;

    }

    .main__product-categories {
        padding: 30px;
    }

    .main__product-categories_text-wrapper {
        margin-bottom: 30px;
    }

    .main__product-categories_text {
        width: 100%;
    }

    .main__product-categories_card_title {
        padding-bottom: 5px;
    }

    .main__product-categories_card_description {
        padding-bottom: 10px;
    }


    .main__our-promise_decoration-right {
        width: 350px;
    }

    .main__our-promise_decoration-left {
        width: 350px;
    }

    .main__product-categories_text {
        width: 80%;
    }

    .main__product-categories_wrapper-card {
        grid-template-columns: repeat(1, 260px);
        grid-template-rows: repeat(6, 320px);
        grid-gap: 30px;
    }

    .main__product-categories_card_text {
        height: 50%;
    }

    .main__beautiful-picture {
        min-height: 400px;
        justify-content: start;
        align-items: end;
        padding: 20px;
    }

    .main__beautiful-picture__wrapper {
        flex-direction: column;
        padding: 10px 15px;
        width: 170px;
    }


    .main__beautiful-picture_wrapper-link {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
    }

    .main__beautiful-picture_wrapper-link:not(:last-child) {
        margin-right: 0;
        margin-bottom: 8px;
    }


    .main__shop_wrapper {
        min-height: 400px;
        padding: 0 30px;
    }

    .main__read_guides {
        justify-content: center;
        padding-top: 40px;
    }

    .main__guides_text {
        text-align: center;
        max-width: 450px;
        margin-bottom: 30px;
    }

    .main__guides_description {
        max-width: 100%;
        margin-bottom: 0;
    }

    .main__guides_wrapper-guide {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 35px;
        max-width: 614px;
        font-weight: 400;
        padding: 0 30px 30px;
    }

    .main__guides_link {
        margin-bottom: 30px;
    }

    .main__read_magazine {
        display: flex;
        flex-direction: column-reverse;
        max-width: 614px;
        max-height: 900px;
        font-weight: 400;
        margin: 0;
        padding: 30px;
    }

    .main__magazine_image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main__magazine_image {
        width: 80%;
    }

    .main__magazine_text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main__magazine_text {
        width: 100%;
    }

    .main__magazine_link {
        justify-content: center;
    }

    .main__magazine_description {
        margin-bottom: 10px;
    }

    .footer {
        min-width: 400px;
        padding: 30px;
        justify-content: center;
    }

    .footer-logo {
        padding-bottom: 0;
    }

    .footer__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 20px;
        min-width: 350px;
        padding: 30px 0;

    }

    .footer__list {
        display: grid;
        min-width: 100px;
    }

    .footer__title {
        text-align: center;
        margin-bottom: 10px;
    }

    .footer__wrapper-item {
        text-align: center;
    }

    .footer__subscription {
        display: grid;
        grid-column: 1 / -1;
    }

    .footer__subscription_wrapper {
        width: 100%;
    }

    .footer__description {
        max-width: 100%;
        text-align: center;
    }

    .footer__subscription_email {
        width: 250px;
    }

    .footer__social {
        display: flex;
        min-width: 350px;
        width: 100%;
    }

    .footer__license {
        max-width: 300px;
    }

    .footer__media {
        min-width: 130px;
    }
}

@media screen and (min-width: 320px) and (max-width: 399.98px) {

    .header {
        padding: 20px;
        justify-content: space-between;
    }

    .header__burger {
        display: block;
    }

    .header__burger_wrapper-button {
        flex-direction: column;
        min-height: 100px;
    }

    .header__burger_button {
        width: 140px;
    }

    .header__menu {
        display: none;
    }

    .header__wrapper-button {
        display: none;
    }

    .main__preview {
        min-height: 500px;
        padding: 0 30px;
        justify-content: start;
    }

    .main__preview_text {
        width: 250px;
    }

    .main__preview_subtitle {
        width: 200px;
    }

    .main__preview_title {
        font-size: 35px;
        width: 220px;
    }

    .main__about-us {
        display: flex;
        flex-direction: column-reverse;
        max-width: 614px;
        max-height: 900px;
        font-weight: 400;
        margin: 0;
        padding: 30px;
    }

    .main__about-us_image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main__about-us_image {
        width: 80%;
    }

    .main__about-us_text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main__about-us_text {
        width: 90%;
    }

    .main__about-us_link {
        justify-content: center;
    }

    .main__about-us_description {
        margin-bottom: 10px;
    }

    .main__our-promise {
        padding: 40px;
    }

    .main__our-promise_text-wrapper {
        margin-bottom: 40px;
    }

    .main__our-promise_text {
        width: 95%;
    }

    .main__our-promise_wrapper-cards {
        max-width: 614px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 30px;
    }

    .main__our-promise_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 287px;

    }

    .main__product-categories {
        padding: 30px;
    }

    .main__product-categories_text-wrapper {
        margin-bottom: 30px;
    }

    .main__product-categories_text {
        width: 100%;
    }

    .main__product-categories_card_title {
        padding-bottom: 5px;
    }

    .main__product-categories_card_description {
        padding-bottom: 10px;
    }


    .main__our-promise_decoration-right {
        width: 350px;
    }

    .main__our-promise_decoration-left {
        width: 350px;
    }

    .main__product-categories_text {
        width: 80%;
    }

    .main__product-categories_wrapper-card {
        grid-template-columns: repeat(1, 260px);
        grid-template-rows: repeat(6, 320px);
        grid-gap: 30px;
    }

    .main__product-categories_card_text {
        height: 50%;
    }

    .main__beautiful-picture {
        min-height: 400px;
        justify-content: start;
        align-items: end;
        padding: 20px;
    }

    .main__beautiful-picture__wrapper {
        flex-direction: column;
        padding: 10px 15px;
        width: 150px;
    }


    .main__beautiful-picture_wrapper-link {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
    }

    .main__beautiful-picture_wrapper-link:not(:last-child) {
        margin-right: 0;
        margin-bottom: 8px;
    }


    .main__shop_wrapper {
        min-height: 400px;
        padding: 0 30px;
    }

    .main__read_guides {
        justify-content: center;
        padding-top: 40px;
    }

    .main__guides_text {
        text-align: center;
        max-width: 450px;
        margin-bottom: 30px;
        padding: 0 30px;
    }

    .main__guides_description {
        max-width: 100%;
        margin-bottom: 0;
    }

    .main__guides_wrapper-guide {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 35px;
        max-width: 614px;
        font-weight: 400;
        padding: 0 30px 30px;
    }

    .main__guides_link {
        margin-bottom: 30px;
    }

    .main__read_magazine {
        display: flex;
        flex-direction: column-reverse;
        max-width: 614px;
        max-height: 900px;
        font-weight: 400;
        margin: 0;
        padding: 30px;
    }

    .main__magazine_image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main__magazine_image {
        width: 80%;
    }

    .main__magazine_text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main__magazine_text {
        width: 100%;
    }

    .main__magazine_link {
        justify-content: center;
    }

    .main__magazine_description {
        margin-bottom: 10px;
    }

    .footer {
        min-width: 320px;
        padding: 15px 10px;
        justify-content: center;
    }

    .footer-logo {
        padding-bottom: 0;
    }

    .footer__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 20px;
        min-width: 300px;
        padding: 15px 0;

    }

    .footer__list {
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }

    .footer__title {
        text-align: center;
        margin-bottom: 10px;
    }

    .footer__wrapper-item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5px;
        text-align: center;
    }

    .footer__subscription {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__description {
        max-width: 290px;
        margin-bottom: 5px;
    }

    .footer__subscription_wrapper {
        width: 290px;
        height: 53px;
        padding: 0 7px 0 21px;
    }

    .footer__subscription_email {
        width: 195px;
    }

    .footer__social {
        flex-direction: column;
        min-width: 290px;
        width: 290px;
    }

    .footer__license {
        margin-bottom: 10px;
    }

    .footer__media {
        display: flex;
        justify-content: space-between;
        min-width: 100px;
        width: 130px;
    }
}